.center {
   text-align: center;
   color: white;
}
#header {
  font-family: "Verdana", sans-serif;
  font-size: 50px;
  font-weight: normal;
}
.whole {
  background-color: black;
  text-align: center;
}
#subheader {
  font-size: 16px;
  color: aquamarine;
  text-decoration: underline;
  font-family: "Verdana", sans-serif;
  font-weight: lighter;
}
#guide {
  font-family: "Verdana", sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
#points {
  font-family: "Verdana", sans-serif;
  font-size: 21px;
  color: gray;
  font-weight: lighter;
}
#camp {
padding: 10px;
size: 120%;
}
#coming {
  font-family: "Verdana", sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: white;
}
#download {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  color: aquamarine;
  text-decoration: underline;
  font-weight: lighter;
}
#footer {
  text-align: right;
  color: gray;
  font-weight: lighter;
  font-size: 21px;
  font-family: "Verdana", sans-serif;
  padding-right: 250px;
}
