.center {
   text-align: center;
   color: white;
}
#header {
  font-family: "Verdana", sans-serif;
  font-size: 50px;
  font-weight: normal;
}
.whole {
  background-color: black;
  align-content: center;
  padding-left: 150px
}
#subheader {
  font-size: 16px;
  color: aquamarine;
  text-decoration: underline;
}
